:root {
  --dark-gray: #444;
  --light-gray: #d9d9d9;
  --dark-blue: #0f1447;
  --violet: #0e0017;
  --violet-blue: #363FAD;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.bg-purple {
  background: linear-gradient(
    0deg,
    var(--dark-blue) 47.24%,
    var(--violet) 113.41%
  );
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.sidebar {
  transition: ease all 0.5s;
  min-height: max(100vh);
  z-index: 1;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

#content {
  width: 100%;
}

.text-purple {
  color: var(--violet-blue) !important;
}