@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark-gray: #444;
  --light-gray: #d9d9d9;
  --dark-blue: #0f1447;
  --violet: #0e0017;
  --violet-blue: #363fad;
  --light-violet-blue: #1E256F;
  --green: #07ec76e3;
}

* {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.bg-purple {
  background: linear-gradient(
    0deg,
    var(--dark-blue) 47.24%,
    var(--violet) 113.41%
  );
}

.bg-light-violet-blue{
  background: var(--light-violet-blue);
}

.bg-light-gray {
  background: var(--light-gray) !important;
}

.bg-dark-gray {
  background: var(--dark-gray) !important;
}

.text-purple {
  color: var(--violet-blue) !important;
}

.form-switch .form-check-input:checked {
  background-color: var(--green);
  border-color: var(--green);
}

.form-switch .form-check-input:focus {
  box-shadow: var(--green);
  border-color: var(--green);
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.btn-primary {
  background-color: var(--violet-blue) !important;
  border-color: var(--violet-blue) !important;
}

.scrollspy-example {
  position: relative;
  height: 60vh;
  overflow: auto;
}

.profile-picture {
  width: 10rem !important;
  height: 10rem !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 100%;
}

.rounded{
  border-radius: 30px;
}

.table-responsive {
  height:50vh !important;
}

.react-calendar{
  font-size: 10px;
  height: 260px !important;
  width: 260px !important;
}