.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.saldo {
    text-align: center;
    margin-bottom: 15px;
}

.saldo h2{
    font-weight: bold;
    font-size: 40px;
}
.valor {
    color: var(--button-saldo-subtotal);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    /* border: 5px solid red; */
    width: 100%;
}

.input_field {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;
    align-items: center;
}

.input_field select {
    padding: 8px;
    border: 2px solid  var(--violet-blue);
    border-radius: 11px;
    flex: 2;
    background-color: transparent;
    color: aliceblue;
  }
  
.input_field select option {
    color: black;
}
.input_field label {
    flex: 1;
    text-align: left;
    font-weight: bold;
}

.input_field input {
    flex: 2;
    text-align: right;
    background-color: transparent;
    color:aliceblue;
    padding: 5px 10px;
    border: 2px solid var(--violet-blue);
    border-radius: 11px;
}

.input_field input::placeholder {
    color: aliceblue;
    font-size: 14px;
    opacity: 0.5;
    text-align: left;
}

.input_field input[type="date"] {
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttons label {
    /* flex: 2; */
    text-align: left;
    font-weight: bold;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 3px 20px;
    /* flex: 1; */
    /* margin: 0 5px; */
    background-color:  var(--violet-blue);
    border: none;
    border-radius: 15px;
    color: #fff;
}

.subtotal {
    text-align: center;
    margin-bottom: 15px;    
}

.subtotal h2 {
    font-weight: bold;
    font-size: 40px;
}

.botao_transacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botao_transacao button {
    background-color: var(--violet-blue);
    color: #fff;
    width: 417px;
    padding: 10px 100px;
    border: none;
    font-size: 14px;
    height: 38px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .input_field {
        width: 80%;
    }

    .buttons {
        width: 80%;
    }

    .botao_transacao button {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .saldo h2 {
        font-size: 30px;
    }

    .input_field {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .input_field label,
    .input_field input {
        width: 100%;
        text-align: left;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }

    .botao_transacao button {
        width: 100%;
        padding: 10px;
    }
}